.bg-primary {
    background-image: linear-gradient(to right top, #80c980, #74c583, #68c186, #5dbc88, #51b88b) !important;
}

.bg-trans {
    background-color: #5e72e400 !important;
}

body {
    font-family: 'Prompt', sans-serif !important;
}

.img-cover1 {
    object-fit: cover;
    width: 100%;
    height: 250px;
}

.img-cover2 {
    object-fit: cover;
    width: 100%;
    height: 300px;
}

textarea {
    color: black !important;
}

.img-cover3 {
    object-fit: cover;
    width: 100%;
    height: 200px;
}

.img-cover4 {
    object-fit: cover;
    width: 100%;
    height: 100px;
}

.max-lines {
    display: block;
    /* or inline-block */
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 3.6em;
    line-height: 1.8em;
}

.sideNav2 {
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: -webkit-transform 0.6s ease;
    transition: transform 0.6s ease;
}

.sideNav2.open {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}

.sider.after {
    display: inline-block;
    content: "\00d7";
    /* This will render the 'X' */
}