.bg-primary {
    background-image: linear-gradient(to right top, #80c980, #74c583, #68c186, #5dbc88, #51b88b) !important;
}

.bg-trans {
    background-color: #5e72e400 !important;
}

body {
    font-family: 'Prompt', sans-serif !important;
}

.img-cover1 {
    object-fit: cover;
    width: 100%;
    height: 250px;
}

.img-cover2 {
    object-fit: cover;
    width: 100%;
    height: 300px;
}

textarea {
    color: black !important;
}

.img-cover3 {
    object-fit: cover;
    width: 100%;
    height: 200px !important;
}

.img-cover4 {
    object-fit: cover;
    width: 100%;
    height: 100px;
}

.max-lines {
    display: block;
    /* or inline-block */
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 3.6em;
    line-height: 1.8em;
}

.sideNav2 {
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: -webkit-transform 0.6s ease;
    transition: transform 0.6s ease;
}

.sideNav2.open {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}

.sider.after {
    display: inline-block;
    content: "\00d7";
    /* This will render the 'X' */
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col,
.col-auto,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm,
.col-sm-auto,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md,
.col-md-auto,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg,
.col-lg-auto,
.col-xl-1,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl,
.col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: 2px;
    padding-left: 2px;
}

.img-v-center {
    object-fit: cover;
    width: 500px;
    height: 300px;
}

.c-v-center {
    width: 500px;
    height: 300px;
}

@media only screen and (max-width: 600px) {
    .img-cover3 {
        object-fit: cover;
        width: 100%;
        height: 150px !important;
    }

    .img-v-center {
        object-fit: cover;
        width: 300px;
        height: 300px;
    }

    .c-v-center {
        width: 300px;
        height: 300px;
    }
}